* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    background-color: #444444;
}
body {
    overflow: hidden;
}

#root {
}

.app {
    display: grid;
    grid-template-rows: 8.4vh 30vh 10vh 45vh;
    grid-template-columns: 100vw;

}
