* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    background-color: #444444;
}
body {
    overflow: hidden;
    width: 100vw;
}

#root {
    width: 100vw;
    height: 100vh;

}

.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 8.4vh 30vh 11vh 45vh;
    grid-template-columns: 90vw;
    justify-content: center;

}
