.output-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-bar-field {
    border-radius: 0.8rem;
    border: 0.2rem solid white;
    display: inline-block;
    background-color: black;
    color: yellow;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    font-size: 5rem;
    font-weight: bold;
    width: 88vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

@keyframes cursorBlink {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

#cursor {
    color: white;
    animation: cursorBlink 1s infinite;

}